@import 'sass/panels'

.dirs
  @include tile-panel
.dir-deeping
  @include tile-panel
.actions-panel
  @include tile-panel

.edit-dialog-component
  margin-top: 7vh !important
  min-width: 50vw
  max-width: 700px
  .p-dialog-header
    background-color: #dadce0
    padding: 15px

.input-line
  label
    display: block
  input
    width: 100%
  textarea
    width: 100%