@import 'sass/panels'

.storage-app
  background-color: #fff
  padding: 5px
  border-radius: 5px
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05)
.dirs
  @include tile-panel
.dir-deeping
  @include tile-panel
.actions
  @include tile-panel
  .to-right
    margin-left: auto
  & > button
    margin: 5px
.actions-column
  @extend .actions
  flex-direction: column

.edit-dialog-component
  margin-top: 7vh !important
  min-width: 50vw
  max-width: 700px
  .p-dialog-header
    background-color: #dadce0
    padding: 15px

.input-line
  label
    display: block
  input
    width: 100%
  textarea
    width: 100%
  .p-inputnumber
    width: 100%
.pi
  min-width: 17px

.p-dialog .p-dialog-footer button
  margin: 0 0 0 .5rem
.p-dialog .p-dialog-footer
  padding: 0 1rem 1rem 1rem


.product-image
  max-height: 60px
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)

.input-image
  max-height: 300px
  .product-preview
    flex: 1
    display: flex
    align-items: center
    justify-content: center
  .image-box
    max-width: 100%
    max-height: 170px

.p-tabview .p-tabview-panels
  padding: 1rem 0 0 0
.p-dialog .p-dialog-content
  padding: 0 1rem 0 1rem

.flex-center-align
  display: flex
  align-items: center

.p-tabview-nav
  position: sticky
  top: 0